<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Cart</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item-group *ngIf = "products.length">
    <ion-label class="food-cat ion-padding">Cart({{products.length}})</ion-label>
    <ion-item lines="none" *ngFor = "let m of products | slice:0:noOfItem" class="ion-padding-left">
      <ion-label color="dark">{{m.title}}<br>
        <b>{{ m.price | currency:'INR' }}</b></ion-label>
      <div slot="end">
        <ion-row class="ion-no-padding ion-align-items-center incrementBox">
          <ion-col size="5">
            <ion-button (click)="addToCart($event, m)" color="dark" fill="clear">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-col>
   
          <ion-col size="2" color="dark" class="itemCount ion-text-center">
            {{ cart[m.id] || 0 }}
          </ion-col>
   
          <ion-col size="5">
            <ion-button (click)="removeFromCart($event, m)" color="dark" fill="clear" >
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
    <ion-row>
      <ion-col size = "6" class="food-cat ion-padding">
        Total Amount
      </ion-col>
      <ion-col size = "6" class="food-cat ion-padding">
       {{totAmnt}}
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top" *ngIf = "products.length > 2">
      <ion-col class="ion-text-center">
        <ion-button class="ion-no-margin" color="dark" (click) = "viewAllCarts()">View More</ion-button>
      </ion-col>
    </ion-row>

    </ion-item-group>
    <ion-label  class="food-cat ion-padding" color = "dark" *ngIf = "!products.length">
      Your cart is empty
    </ion-label>
    </ion-list>
</ion-content>
<ion-footer class="ion-no-border" *ngIf = "products.length">
  <ion-toolbar>
    <ion-button style="height: 56px" class="ion-no-margin" color="dark" expand="full" routerLink="/home" (click) = "checkout()"><ion-icon name="cart-outline"></ion-icon>CheckOut</ion-button>
  </ion-toolbar>
</ion-footer>