.food-cat {
  font-size: 20px;
  color: #e89a0b;
  font-weight: 700;
}
.itemCount {
  color: #000;
}
.incrementBox {
  border: 1px solid #e89a0b;
}
.rectangleBtn {
  width: 100px;
  height: 30px;
  --border-radius: 6%;
  --background: #e89a0b;
  color: #000;
}
