#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.position-cart {
  margin-top: -20%;
}
.food-cat {
  font-size: 20px;
  color: #e89a0b;
  font-weight: 700;
}
.itemCount {
  color: #000;
}
.incrementBox {
  border: 1px solid #e89a0b;
}
.rectangleBtn {
  width: 100px;
  height: 30px;
  --border-radius: 6%;
  --background: #e89a0b;
  color: #000;
}
.menu_list {
  background: #e89a0b;
  margin-top: 0px;
  margin-bottom: 45px;
}
.cartBtn {
  --background: #e89a0b;
  color: #fff;
}
