<ion-header [translucent]="true">
  <ion-toolbar>
  
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-grid class="ion-no-padding">
     <ion-row>
       <ion-col size="12">
        <ion-img src="https://firebasestorage.googleapis.com/v0/b/sampleshopping-c88b4.appspot.com/o/foodbanner.jpeg?alt=media&token=96c37c5c-3d5c-4525-952f-65ed0b2a3e47"></ion-img>
       </ion-col>
     </ion-row>
     <ion-row class="position-cart">
       <ion-col>
         <ion-card>
           <ion-card-header>
             <ion-card-title class="ion-text-center">Inka Restaurant</ion-card-title>
           </ion-card-header>
           <ion-card-content class="ion-text-center">
             <p>
            <span style="vertical-align: middle;"><ion-icon name="star-outline"></ion-icon></span><span> 5.0(200) | All days: 09:00AM - 06:00PM</span>
          </p>
          <p>
            <span style="vertical-align: middle;"><ion-icon name="call-outline"></ion-icon></span> Reach us at: 9854562142
          </p>
          <ion-button color="dark" class="ion-text-uppercase">book a table</ion-button>
           </ion-card-content>
         </ion-card>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col>
        <ion-list>
          <ion-item-group id="starters">
            <!-- <ion-item-divider> -->
              <ion-label class="food-cat ion-padding">Starters</ion-label>
            <!-- </ion-item-divider> -->
            <ion-item lines="none" *ngFor = "let s of starters" class="ion-padding-left">
              <ion-label color="dark">{{s.title}}<br>
                <b>{{ s.price | currency:'INR' }}</b></ion-label>
              <div slot="end">
                <ion-row class="ion-no-padding ion-align-items-center incrementBox" *ngIf = "cart[s.id]">
                  <ion-col size="5">
                    <ion-button (click)="addToCart($event, s)" color="dark" fill="clear">
                      <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
           
                  <ion-col size="2" color="dark" class="itemCount ion-text-center">
                    {{ cart[s.id] || 0 }}
                  </ion-col>
           
                  <ion-col size="5">
                    <ion-button (click)="removeFromCart($event, s)" color="dark" fill="clear" >
                      <ion-icon name="remove-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf = "!cart[s.id]">
                  <ion-col>
                    <ion-button (click)="addToCart($event, s)" class="ion-text-uppercase cartBtn">add to cart</ion-button>

                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
            </ion-item-group>
            <ion-item-group id="maincourse">
              <!-- <ion-item-divider> -->
                <ion-label class="food-cat ion-padding">MainCourse</ion-label>
              <!-- </ion-item-divider> -->
              <ion-item lines="none" *ngFor = "let m of mainCourse" class="ion-padding-left">
                <ion-label color="dark">{{m.title}}<br>
                  <b>{{ m.price | currency:'INR' }}</b></ion-label>
                <div slot="end">
                  <ion-row class="ion-no-padding ion-align-items-center incrementBox" *ngIf = "cart[m.id]">
                    <ion-col size="5">
                      <ion-button (click)="addToCart($event, m)" color="dark" fill="clear">
                        <ion-icon name="add-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
             
                    <ion-col size="2" color="dark" class="itemCount ion-text-center">
                      {{ cart[m.id] || 0 }}
                    </ion-col>
             
                    <ion-col size="5">
                      <ion-button (click)="removeFromCart($event, m)" color="dark" fill="clear" >
                        <ion-icon name="remove-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf = "!cart[m.id]">
                    <ion-col>
                      <ion-button (click)="addToCart($event, m)" class="ion-text-uppercase cartBtn">add to cart</ion-button>

                    </ion-col>
                  </ion-row>
                </div>
              </ion-item>
              </ion-item-group>
              <ion-item-group id="desserts">
                <!-- <ion-item-divider> -->
                  <ion-label class="food-cat ion-padding">Desserts</ion-label>
                <!-- </ion-item-divider> -->
                <ion-item lines="none" *ngFor = "let de of desserts" class="ion-padding-left">
                  <ion-label color="dark">{{de.title}}<br>
                    <b>{{ de.price | currency:'INR' }}</b></ion-label>
                  <div slot="end">
                    <ion-row class="ion-no-padding ion-align-items-center incrementBox" *ngIf = "cart[de.id]">
                      <ion-col size="5">
                        <ion-button (click)="addToCart($event, de)" color="dark" fill="clear">
                          <ion-icon name="add-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
               
                      <ion-col size="2" color="dark" class="itemCount ion-text-center">
                        {{ cart[de.id] || 0 }}
                      </ion-col>
               
                      <ion-col size="5">
                        <ion-button (click)="removeFromCart($event, de)" color="dark" fill="clear" >
                          <ion-icon name="remove-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf = "!cart[de.id]">
                      <ion-col>
                        <ion-button (click)="addToCart($event, de)" class="ion-text-uppercase cartBtn">add to cart</ion-button>

                      </ion-col>
                    </ion-row>
                  </div>
                </ion-item>
                </ion-item-group>
                <ion-item-group id="drinks">
                  <!-- <ion-item-divider> -->
                    <ion-label class="food-cat ion-padding">Drinks</ion-label>
                  <!-- </ion-item-divider> -->
                  <ion-item lines="none" *ngFor = "let d of drinks" class="ion-padding-left">
                    <ion-label color="dark">{{d.title}}<br>
                      <b class="ion-margin-top">{{ d.price | currency:'INR' }}</b></ion-label>
                    <div slot="end">
                      <ion-row class="ion-no-padding ion-align-items-center incrementBox" *ngIf = "cart[d.id]">
                        <ion-col size="5">
                          <ion-button (click)="addToCart($event, d)" color="dark" fill="clear">
                            <ion-icon name="add-outline"></ion-icon>
                          </ion-button>
                        </ion-col>
                 
                        <ion-col size="2" color="dark" class="itemCount ion-text-center">
                          {{ cart[d.id] || 0 }}
                        </ion-col>
                 
                        <ion-col size="5">
                          <ion-button (click)="removeFromCart($event, d)" color="dark" fill="clear" >
                            <ion-icon name="remove-outline"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf = "!cart[d.id]">
                        <ion-col>
                          <ion-button (click)="addToCart($event, d)" class="ion-text-uppercase cartBtn">add to cart</ion-button>

                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-item>
                  </ion-item-group>
            </ion-list>
       </ion-col>
     </ion-row>
   </ion-grid> 
   <ion-fab vertical="bottom" horizontal="center"  slot="fixed">
    <ion-fab-button class="rectangleBtn">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-fab-button>
    <ion-fab-list side="top" class="menu_list">
      <ion-button color="light" fill="clear" (click)="scrollTo('drinks')" >
        <ion-label style="color: #fff;">Drinks</ion-label>
      </ion-button>
      <ion-button color="light" fill="clear" (click)="scrollTo('desserts')" >
        <ion-label style="color: #fff;">Desserts</ion-label>
      </ion-button>
      <ion-button color="light" fill="clear" (click)="scrollTo('maincourse')" >
        <ion-label style="color: #fff;">MainCourse</ion-label>
      </ion-button>
      <ion-button color="light" fill="clear" (click)="scrollTo('starters')">
        <ion-label style="color: #fff;">Starters</ion-label>
      </ion-button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    
    <ion-button style="height: 56px" class="ion-no-margin" color="dark" expand="full" routerLink="/cart-modal" routerDirection="root"><ion-icon name="cart-outline"></ion-icon>View Cart({{cartCount}})</ion-button>

    <!-- <ion-title>Footer - No Border</ion-title> -->
  </ion-toolbar>
</ion-footer>